
/* nav  */
body{
    font-family: 'Times New Roman', Times, serif;
}
.navbar{
   
}
.logo1{
    background-image: url("images/logo\ bg.png");
    background-size: 35px 10px;
    background-repeat: no-repeat;
  }
.logo2{
    background-image: url("images/logo\ bg.png");
    background-size: 40px 20px;
    background-repeat: no-repeat;
  }
.logo {
    background-image: url("images/logo\ bg.png");
    background-size: 47px 26px;
    background-repeat: no-repeat;
    margin-right: 300px;
    font-size: 25px;
  }
.star{
    color: rgb(214, 179, 64) ;
}
ul li{
    margin-right:30px;
    font-size: 14px;
}
.heart a{
    text-decoration: none;
    color: black;
}
.heart a:hover{
   color: red;
}
/* end nav  */

/* carousel  */

.text{
    font-size: 40px;
    
}
.carousel_text{
    position: absolute;
    top: 150px;
    left: 150px;
    opacity: 100%;
}
.carousel_button{
    background-color: rgb(184, 76, 117);
    border: 1px solid rgb(184, 76, 117) ;
    border-radius: 5px;
}
.carousel_button:hover{
    background-color:  rgb(247, 229, 232);
}
.carousel_text h1{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* end carousel  */

/* clothing */

.clothing_category{
    padding: 50px;
    display: inline-block;
    margin: 20px;
    width: 300px;
    height: 550px;
}
/* .new_arrival_item{
   position: absolute;
   top: 90px;
   left: 335px;
} */
 .title-text{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
    margin-top: 20px;
 }
 .contact-text{
    line-height: 30px;
 }

 /* sign in page  */
.input-text{
    font-family: 'Times New Roman', Times, serif;
    margin-top: -45px;
    display: inline-block; 
     
 }
 .btn_text{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-small;
 }
 /* end sign in page  */

/* footer  */
.footer-text{
    font-size: small;
    line-height: 10px;
    margin-top: 10px;
}
.footer{
    background-color: whitesmoke;
}
  
.footer_nav a{
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.social-media a{
    text-decoration: none;
    color: black;
    margin-right: 25px;
    margin-left: 10px;
}
.footer_p2{
    font-family: 'Times New Roman', Times, serif;
}
.footer_text{
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
    margin-top: 15px;
    
}
/* end footer  */

/* contact  */
.header-text{
    background-color: rgb(228, 207, 87);
    font-size: x-large;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}
.about-text1{
    line-height: 26px;
}

.contact-text{
    font-family: 'Times New Roman', Times, serif;
}
.contact-form{
   background-color: rgb(243, 243, 243);
   
    height: 600px;
    padding: 30px;
}
.check_policy a{
    text-decoration: none;
    color: black;
}
.check_policy a:hover{
    color: blue;
}
/* end contact  */
.about-text{
    padding: 20px;
    line-height: 30px;
    word-spacing: 2px;
    letter-spacing: 1px;
}
.about_p2{
    border:  1px solid rgba(164, 165, 165, 0.411);
    background-color: rgba(164, 165, 165, 0.411);
    line-height: 30px;
    word-spacing: 2px;
    letter-spacing: 1px;
}
.about-p2{
    border:  1px solid black;
    border-radius: 20px;
    background-color: black;
    line-height: 30px;
    word-spacing: 2px;
    letter-spacing: 1px;
    color: rgb(122, 112, 54);
    padding: 20px;
}
/* start Home design2  */
.sale__content {
    padding-bottom: 4rem;
  }
  
.sale__content h2 {
    margin-bottom: 1rem;
    font-size: 50px;
    font-weight: 800;
    line-height: 60px;
  }
.animate__animated.animate__fadeInRight{
    --animate-duration: 2s;
}
  



