/* nav  */
.logo{
    margin-right: 350px;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
ul li{
    margin-right:35px;
    font-size: 14px;
}
/* end nav  */

/* carousel  */
.carousel_part{
    background-color: rgb(247, 229, 232);
    display: grid;
    grid-template-columns: auto 300px;
}
.carousel_button{
    background-color: rgb(184, 76, 117);
    border: 1px solid rgb(184, 76, 117) ;
    border-radius: 5px;
}
.carousel_button:hover{
    background-color:  rgb(247, 229, 232);

}
.carousel_text{
    padding: 100px;
}
.carousel_text h1{
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* end carousel  */

/* clothing */

.clothing_category{
    padding: 50px;
    display: inline-block;
    margin: 20px;
    width: 300px;
    height: 550px;
}
/* .new_arrival_item{
   position: absolute;
   top: 90px;
   left: 335px;
} */
 .title-text{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
    margin-top: 20px;
 }

 /* sign in page  */
.input-text{
    font-family: 'Times New Roman', Times, serif;
    margin-top: -45px;
    display: inline-block; 
     
 }
 .btn_text{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-small;
 }
 /* end sign in page  */

/* footer  */
.footer_nav a{
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-family: 'Times New Roman', Times, serif;
}
.social-media a{
    text-decoration: none;
    color: black;
    margin-right: 25px;
    margin-left: 10px;
}
.footer_p2{
    font-family: 'Times New Roman', Times, serif;
}


.footer_text{
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 50px;
    margin-top: 15px;
    
}

