*{
    margin: 0;
    padding: 0;
}
/* stat nav  */
.shop_name{
    position: absolute;
    top: 18px;
    left: 35px;
}

.nav_item a{
    position: absolute;
    margin-left: 1225px;
    text-decoration: none;
    color: black;
}
.nav {
    box-shadow: 0px 5px 20px rgb(0, 0, 0,0.2);
    display: grid;
    grid-template-columns: auto auto;
    padding: 15px;
   
}
.nav_item  a:hover{
    color: red;
}
.cart{
    text-align: right;
}
.cart_noti{
    position: relative;
    top: -15px;
    right: 10px;
    background-color: red;
    padding: 2px 5px;
    border-radius: 50%;
    color: white;
    font-size: small;
}
.cart a{
    color: rgb(252, 251, 251);
    border: 1px solid blue;
    border-radius: 6px;
    background-color: blue;
    padding: 5px; 
}
/* end nav  */
/* start show items  */

.show_items{
    margin-top: 45px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
    margin-left: 50px;
    margin-right: 50px;
    
}
.item{
    border: 1px solid gray;
    padding: 5px;
    border-radius: 5px;
}
.item_img{
    margin-left: 25px;
}

.item_name{
    font-size: 19px;
    font-weight: 550;
    margin-bottom: 7px;  
}
.item_price{
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px ;
}
.cart_button{
    padding: 6px;
    border-radius: 5px;
    background-color: blue;
    border: 1px solid blue;
    color: white;
}